<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.m2i.journal2014"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_crieur"
        android:label="@string/app_name" >
        <activity
            android:name="fr.m2i.journal2014.Login"
            android:label="@string/login_titre_fenetre" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.m2i.journal2014.MenuPrincipal"
            android:label="@string/title_activity_menu_principal" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.Journalistes"
            android:label="@string/title_activity_journaliste" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.JournalisteForm"
            android:label="@string/title_activity_journaliste_form" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.Statut"
            android:label="@string/title_activity_statut" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.Categorie"
            android:label="@string/title_activity_categorie" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.Rubrique"
            android:label="@string/title_activity_rubrique" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.MotCle"
            android:label="@string/title_activity_mot_cle" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.TestDAO"
            android:label="@string/title_activity_test_dao" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.ArticlePlus"
            android:label="@string/title_article_plus" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.RechArticle"
            android:label="@string/title_activity_rech_article" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.ArticleListe"
            android:label="@string/title_activity_article_liste" >
        </activity>
        <activity android:name="fr.m2i.journal2014.UnArticle" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.MenuParametrage"
            android:label="@string/title_activity_parametrage" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.MenuJournaliste"
            android:label="@string/title_activity_menu_journaliste" >
        </activity>
        <activity
            android:name="fr.m2i.journal2014.MenuArticle"
            android:label="@string/title_activity_menu_article" >
        </activity>
    </application>

</manifest>
